html{
    height: 100%;
}
body{
    margin: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}
.footer{
    display: flex;
    background-color: #757575;  
    font-size: 16px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    height: 104px;
    margin-bottom: 0px;
}

.frame{
    display: flex;
    position: fixed;
    z-index: 10;
    top: 0;
    height: 54px;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
   

}
.headline{
    display: flex;
    width: 1200px;
}

.left{
    flex: none;
    width: 150px;
    font-size: 30px;
    font-style: Bold;
    color: #448899;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: flex-start;
}

.desktop-menu{
    display:flex;  
    flex: auto; 
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
   
    
    
}
.item1{
    text-align: right;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    font-style: medium;
    color: #666666;
    margin-right: 5px;
  
    
     
}
.item2{
    text-align: right;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    font-style: medium;
    color: #666666;
   
    

    
}
.item3{
    text-align: right;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    font-style: medium;
    color: #666666;
    display: none;
}
.signin_back{
    position: absolute;
    width: 339px;
    height: 10px;
    z-index: 9999;
    background-color: #66AABB;
    left: 50%;
    margin-left: -170px;
    margin-top: 80px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: #66AABB;
    display: none;
}
.signin{
    
    width: 338px;
    height: 263px;
    
    background-color: white;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
   
    
}
.signtext{
    width: 275px;
    height: 27px;
    font-size: 24px;
    font-weight: Bold;
    color: #666666;
    align-items: center;
    margin-left: 65px;
    margin-right: 15px;
    margin-top: 14px;
    text-align: center;  
    display: flex;
    justify-content: center;
       
}

.signin_close{
    margin-left: 75px;
    margin-bottom: 9px;
    
}

#closeBtn{
    text-decoration: none;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: end;
    color: #666666


}
.enter_email{
    width: 280px;
    height: 17px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 14px;
    padding-left: 14px;
    padding-right: 14px;
    


}
.enter_pwd{
    width: 280px;
    height: 17px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 15px;
    padding-left: 14px;
    padding-right: 14px;
}
.signin_btn{
    width: 310px;
    height: 47px;
    font-size: 19px;
    color: #FFFFFF;
    border-style: solid;
    border-color: #448899;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    background-color: #448899;
}
.signin_error{
    display: none;
    width: 310px;
    height: 22px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.signintext1{
    width: 310px;
    height: 22px;
    font-size: 16px;
    color: #666666;
    margin-left: 90px;
    margin-bottom: 15px;

}
.signup_back{
    position: absolute;
    width: 339px;
    height: 10px;
    z-index: 9999;
    background-color: #66AABB;
    left: 50%;
    margin-left: -170px;
    margin-top: 80px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: #66AABB;
    display: none;
}
.signup{
    width: 338px;
    height: 320px;
    background-color: white;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
   
}
.signuptext{
    width: 275px;
    height: 27px;
    font-size: 24px;
    font-weight: Bold;
    color: #666666;
    align-items: center;
    margin-left: 65px;
    margin-right: 15px;
    margin-top: 14px;
    text-align: center;  
    display: flex;
    justify-content: center;
}
.signup_close{
    margin-left: 75px;
    margin-bottom: 9px;
    
}

#closeBtn1{
    text-decoration: none;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: end;
    color: #666666


}
.signup_name{
    width: 280px;
    height: 17px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 14px;
    padding-left: 14px;
    padding-right: 14px;
}
.signup_email{
    width: 280px;
    height: 17px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 14px;
    padding-left: 14px;
    padding-right: 14px;
}
.signup_pwd{
    width: 280px;
    height: 17px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 14px;
    padding-left: 14px;
    padding-right: 14px;
}
.signup_btn{
    width: 310px;
    height: 47px;
    font-size: 19px;
    color: #FFFFFF;
    border-style: solid;
    border-color: #448899;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    background-color: #448899;
}
.signup_error{
    display: none;
    width: 310px;
    height: 22px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   
}
.signuptext1{
    width: 310px;
    height: 22px;
    font-size: 16px;
    color: #666666;
    margin-left: 90px;
    margin-bottom: 15px;

}
.background{
    background-color: #000000;
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    opacity: 0.25;
    -webkit-opacity: 0.25;
    -moz-opacity: 0.25;
    z-index: 900;
    display: none;

}
.top{
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    
    
    
}
.topinfo{
    max-width: 1170px;
    height: 406px;
    align-items: center;
    margin-top: 91px;
    display: flex;
    justify-content: space-between;
    position: relative;
    
   
}
.div{
    width: 540px;
    margin: auto;
    position: relative;
    
}
.photo{
    width: 540px;
    height: 406px;
    object-fit: cover;
    vertical-align: bottom;
    
}
.dote{
    position: absolute;
    width: 540px;
    bottom: 13px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-self: center;
    vertical-align: middle;
    

    
    
}
.dote>span{
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin: 2px;
    

    
}
span[class^="jian"]{
    position: absolute;
    top: 50%;
    display: inline-block;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    line-height: 36px;
    color: white;
}
.jianleft{
    left: 0;
}
.jianright {
    right: 0;
}
#right{
    max-width: 600px;
    height: 406px;
    padding-left: 15px;
}
.name{
    max-width: 600px;
    height: 33px;
    text-align: left;
    font-size: 24px;
    color: #666666;
    margin-top: 0px;
}
.place{
    max-width: 600px;
    height: 22px;
    text-align: left;
    font-size: 16px;
    color: #666666;
    margin-top: 15px;
    margin-bottom: 20px;
    
}
.booking{
    max-width: 600px;
    height: 302px;
    background-color: #E8E8E8;
    border-radius: 5px;
    
}
.text{
    width: 560px;
    height: 22px;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    background-color: #E8E8E8;
    justify-items: center;
    text-align: left;
    padding-top: 15px;
    margin-left: 20px;
   
    
}
.text1{
    width: 560px;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    justify-items: center;
    text-align: left;
    margin-top: 15px;
    margin-left: 20px;
  
}
.insert{
    width: 279px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 20px;
    
}
.text2{
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    width: 81px;
    height: 17px;
    vertical-align: middle;
    margin-top: 9px;
    margin-bottom: 9px;
   
   
}
.date{
    width: 193px;
    height: 35px;
    font-size: 16px;
    color: #000000;
    vertical-align: middle;
    border-width: 0px;
    
}
.choose{
    width: 257px;
    height: 22px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 20px;
   

}
.text3{
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    width: 81px;
    height: 22px;
}
.btn1{
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin-left: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-color: white;
    background-color: #FFFFFF;
    border-style: solid;
    
    
}
.text4{
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    width: 48px;
    height: 14px;
    margin-left: 6px;
}
.btn2{
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin-left: 18px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-color: white;
    background-color: #FFFFFF;
    border-style: solid;
    
    
}
.text5{
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    width: 48px;
    height: 14px;
    margin-left: 4px;
}
.cost{
    display: flex;
    justify-content: space-between;
    width: 194px;
    height: 22px;
    margin-top: 15px;
    
    margin-left: 20px;
}
.text6{
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    width: 81px;
    height: 22px;
}
.text7{
    width: 108px;
    height: 14px;
    font-weight: bold;
    font-size: 16px;
    color: #666666;
    margin-left: 5px;
}
.btn3{
    width: 154px;
    height: 36px;
    background-color: #448899;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 41px;
   
    font-size: 19px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    border-width: 0px;
}
hr{
    height: 1px;
    margin-top: 37px;
    width: 100%;
    border-left: 0;
    border-right: 0 ;
    max-width: 1200px;
   
}
.info{
    width: 100%;
    max-width: 1180px;
    height: fit-content;
    align-items: center;
    color: #666666;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;

    

}
.text8{
    width: 100%;
    max-width: 1180px;
    height: 32px;
    align-items: center;
    margin-top: 20px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;

}
.address{
    width: 100%;
    max-width: 1180px;
    height: 24px;
    align-items: center;
    margin-top: 0px;
    font-size: 16px;
    color: #666666;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    
}
.text9{
    width: 100%;
    max-width: 1180px;
    height: 32px;
    align-items: center;
    margin-top: 20px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
   
    

}
.transport{
    width: 100%;
    max-width: 1180px;
    height: 48px;
    align-items: center;
    margin-top: 0px;
    font-size: 16px;
    color: #666666;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    
}
@media(max-width:1200px) {

    body{ 
        width: 100%;
        margin: 0;
        padding: 0;
        
    }
    .frame{
        
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .headline{
        width: 920px;
       
       
    }
    .topinfo{
        width: 100%;
        max-width: 920px;
       
       
        display: flex;
    }
    .top{
        max-width: 920px;
    }
    
    .photo{
        
        height: 406px;
        max-width: 510px;
        width: 100%;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .div{
        width: 510px;
    }
    .dote{
        width: 510px;
    }

    #right{
        padding-left: 0;
        max-width: 420px;
        min-width: 400px;
        margin-left: 10px;
        
    }
    .name{
        max-width: 400px;
    }
    .place{
        max-width: 400px;
    }
    .booking{
        max-width: 400px;
        
    }
    .text{
        width: 100px;
        margin-right: 10;
        
    }
    .text1{
        max-width: 380px;
        min-width: 350px;
        height: fit-content;
    }
    .insert{
        margin-right: 0;
    }
    .choose{
        margin-right: 0;
    }
    .cost{
        margin-right: 0;
    }
    .btn3{
        margin-right: 0;
    }
    hr{
        width: 100%;
        max-width: 918px;
    }
    .info{
        max-width: 900px;
      

    }
    .text8{
        width: 100%;
        max-width: 900px;
       
    }
    .address{
        width: 100%;
        max-width: 900px;
    }  
    .text9{
        width: 100%;
        max-width: 900px;
       
    }
    .transport{
        width: 100%;
        max-width: 900px;
       
        height: fit-content;
    }
}

@media(max-width:920px) {
    body{
        width: 100%;
        margin: 0;
        padding: 0;
        
    }
    .frame{
        width: 100%;
        margin: 0;
    }
    .headline{
        max-width: 600px;
    }
    .top{
        max-width: 920px;
        
    }
    .desktop-menu{
        width: 84px;
    }
    .topinfo{
      
        max-width: 600px;
        margin-right: 0px;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: 406px 20px 33px 15px 22px 20px 300px;
    }
    .photo{
        grid-row-start: 1;
        grid-row-end: 2;
        height: 406px;
        width:540px;
        
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
  
    
    #right{
        width: 600px;
        height: 406px;
        grid-row-start: 3;
        grid-row-end: 8;
        margin-left: auto;
        margin-right: auto;
        
    }
    .name{
        grid-row-start: 3;
        grid-row-end: 4;

        
        

    }
    
    .place{
        grid-row-start: 5;
        grid-row-end: 6;
       
        margin-left: auto;
        margin-right: auto;
    }
    .booking{
        grid-row-start: 7;
        grid-row-end: 8;
        width: 600px;
        height: 302px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
    }
    .text{
        width: 300px;
        height: 22px;

    }
    .text1{
        width: 300px;
        height: 48px;
    }
    .insert{
        margin-right: 41px;
    }
    .choose{
        margin-right: 63px;
    }
    .cost{
        margin-right: 126px;
    }
    .btn3{
        margin-right: 226px;
    }
    hr{ 
        height: 1px;
        max-width: 600px;
        margin-top: 450px;
        
    }
    .info{
        width: 600px;
        margin-left: auto;
        margin-right: auto;

    }
    .text8{
        
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .address{
       
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .text9{
        
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .transport{
       
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        height: fit-content;
    }
    .footer{
        max-width: 920px;
    }
    
}

@media (max-width:600px) {
    
    body{
        
        width: 100%;
        margin: 0;
        padding: 0;
        
    }
    .frame{
        width: 100%;
        margin: 0;
    }
    .headline{
        width: 360px;
    }
    .top{
        max-width: 360px;
        
    }
    .desktop-menu{
        width: 84px;
    }
    .topinfo{
        max-width: 360px;
        margin-right: 0px;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: 350px 20px 33px 15px 22px 20px 300px;
    }
    .photo{
        grid-row-start: 1;
        grid-row-end: 2;
        height: 350px;
        max-width: 360px;
        width: 100%;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .div{
        width: 360px;
    }
    .dote{
        width: 360px;
    }
    #right{
        max-width: 360px;
        min-width: 320px;
        
        height: 390px;
        grid-row-start: 2;
        grid-row-end: 8;
        margin-left: auto;
        margin-right: auto;
    }
    .name{
        grid-row-start: 3;
        grid-row-end: 4;
        max-width: 340px;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        

    }
    .place{
        grid-row-start: 5;
        grid-row-end: 6;
        max-width: 340px;
        height: 22px;
        margin-left: auto;
        margin-right: auto;
    }
    .booking{
        grid-row-start: 7;
        grid-row-end: 8;
        max-width: 340px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
       
        margin-bottom: 0px;
    }
    .text{
        width: 300px;
        height: 22px;

    }
    .text1{
        min-width: 300px;
        height: 48px;
    }
    .insert{
        margin-right: 0px;
    }
    .choose{
        margin-right: 0px;
    }
    .cost{
        margin-right: 0px;
    }
    .btn3{
        margin-right: 166px;
    }
    hr{ 
        height: 1px;
        width: 340px;
        margin-top: 357px;
    }
    .info{
        max-width: 330px;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .text8{
        width: 330px;
        height: 32px;
        margin-left: auto;
        margin-right: auto;
    }
    .address{
        width: 330px;
        height: 24px;
        margin-left: auto;
        margin-right: auto;
    }
    .text9{
        width: 330px;
        height: 32px;
        margin-left: auto;
        margin-right: auto;
    }
    .transport{
       max-width: 330px;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .footer{
        max-width: 600px;
    }
    

}
@media (max-width:360px) {
    
    body{
        
        width: 100%;
        margin: 0;
        padding: 0;
        
    }
    .frame{
        width: 100%;
        margin: 0;
    }
    .headline{
        width: 320px;
    }
    .top{
        max-width: 320px;
        
    }
    .desktop-menu{
        width: 84px;
    }
    .topinfo{
        max-width: 320px;
        margin-right: 0px;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: 350px 20px 33px 15px 22px 20px 300px;
    }
    .photo{
        grid-row-start: 1;
        grid-row-end: 2;
        height: 350px;
        max-width: 320px;
        width: 100%;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .div{
        width: 320px;
    }
    .dote{
        width: 320px;
    }
    #right{
        max-width: 320px;
        min-width: 280px;
        
        height: 390px;
        grid-row-start: 2;
        grid-row-end: 8;
        margin-left: auto;
        margin-right: auto;
    }
    .name{
        grid-row-start: 3;
        grid-row-end: 4;
        max-width: 280px;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        

    }
    .place{
        grid-row-start: 5;
        grid-row-end: 6;
        max-width: 280px;
        height: 22px;
        margin-left: auto;
        margin-right: auto;
    }
    .booking{
        grid-row-start: 7;
        grid-row-end: 8;
        max-width: 280px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
       
        margin-bottom: 0px;
    }
    .text{
        width: 260px;
        height: 22px;

    }
    .text1{
        max-width: 260px;
        min-width: 240px;
        height: 48px;
    }
    .insert{
       width: 260px;
       
    }
    .text2{
        min-width: 81px;
    }
    .date{
        max-width: 170px;
        margin-right: 5px;
    }
   
    .choose{
        margin-right: 0px;
    }
    .cost{
        margin-right: 0px;
    }
    .btn3{
       margin-right: 106px;
    }
    hr{ 
        height: 1px;
        width: 280px;
        margin-top: 357px;
    }
    .info{
        max-width: 280px;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .text8{
        width: 280px;
        height: 32px;
        margin-left: auto;
        margin-right: auto;
    }
    .address{
        width: 280px;
        height: 24px;
        margin-left: auto;
        margin-right: auto;
    }
    .text9{
        width: 280px;
        height: 32px;
        margin-left: auto;
        margin-right: auto;
    }
    .transport{
        max-width: 280px;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .footer{
        max-width: 360px;
    }
}