html{
    height: 100%;
}
body{
    margin: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}
.footer{
    display: flex;
    background-color: #757575;  
    font-size: 16px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    height: 104px;
    margin-bottom: 0px;
}

.frame{
    display: flex;
    position: fixed;
    z-index: 10;
    top: 0;
    height: 54px;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
   

}
.headline{
    display: flex;
    width: 1200px;
}

.left{
    flex: none;
    width: 150px;
    font-size: 30px;
    font-style: Bold;
    color: #448899;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: flex-start;
}

.desktop-menu{
    display:flex;  
    flex: auto; 
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
   
    
    
}
.item1{
    text-align: right;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    font-style: medium;
    color: #666666;
    margin-right: 5px;
  
    
     
}
.item2{
    text-align: right;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    font-style: medium;
    color: #666666;
    
}
.item3{
    text-align: right;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    font-style: medium;
    color: #666666;
    display: none;
}
.signin_back{
    position: absolute;
    width: 339px;
    height: 10px;
    z-index: 9999;
    background-color: #66AABB;
    left: 50%;
    margin-left: -170px;
    margin-top: 80px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: #66AABB;
    display: none;
}
.signin{
    
    width: 338px;
    height: 263px;
    
    background-color: white;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
   
    
}
.signtext{
    width: 275px;
    height: 27px;
    font-size: 24px;
    font-weight: Bold;
    color: #666666;
    align-items: center;
    margin-left: 65px;
    margin-right: 15px;
    margin-top: 14px;
    text-align: center;  
    display: flex;
    justify-content: center;
       
}

.signin_close{
    margin-left: 75px;
    margin-bottom: 9px;
    
}

#closeBtn{
    text-decoration: none;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: end;
    color: #666666


}
.enter_email{
    width: 280px;
    height: 17px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 14px;
    padding-left: 14px;
    padding-right: 14px;
    


}
.enter_pwd{
    width: 280px;
    height: 17px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 15px;
    padding-left: 14px;
    padding-right: 14px;
}
.signin_btn{
    width: 310px;
    height: 47px;
    font-size: 19px;
    color: #FFFFFF;
    border-style: solid;
    border-color: #448899;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    background-color: #448899;
}
.signin_error{
    display: none;
    width: 310px;
    height: 22px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.signintext1{
    width: 310px;
    height: 22px;
    font-size: 16px;
    color: #666666;
    margin-left: 90px;
    margin-bottom: 15px;

}
.signup_back{
    position: absolute;
    width: 339px;
    height: 10px;
    z-index: 9999;
    background-color: #66AABB;
    left: 50%;
    margin-left: -170px;
    margin-top: 80px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: #66AABB;
    display: none;
}
.signup{
    width: 338px;
    height: 320px;
    background-color: white;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
   
}
.signuptext{
    width: 275px;
    height: 27px;
    font-size: 24px;
    font-weight: Bold;
    color: #666666;
    align-items: center;
    margin-left: 65px;
    margin-right: 15px;
    margin-top: 14px;
    text-align: center;  
    display: flex;
    justify-content: center;
}
.signup_close{
    margin-left: 75px;
    margin-bottom: 9px;
    
}

#closeBtn1{
    text-decoration: none;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: end;
    color: #666666


}
.signup_name{
    width: 280px;
    height: 17px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 14px;
    padding-left: 14px;
    padding-right: 14px;
}
.signup_email{
    width: 280px;
    height: 17px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 14px;
    padding-left: 14px;
    padding-right: 14px;
}
.signup_pwd{
    width: 280px;
    height: 17px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 14px;
    padding-left: 14px;
    padding-right: 14px;
}
.signup_btn{
    width: 310px;
    height: 47px;
    font-size: 19px;
    color: #FFFFFF;
    border-style: solid;
    border-color: #448899;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    background-color: #448899;
}
.signup_error{
    display: none;
    width: 310px;
    height: 22px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   
}
.signuptext1{
    width: 310px;
    height: 22px;
    font-size: 16px;
    color: #666666;
    margin-left: 90px;
    margin-bottom: 15px;

}
.background{
    background-color: #000000;
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    opacity: 0.25;
    -webkit-opacity: 0.25;
    -moz-opacity: 0.25;
    z-index: 900;
    display: none;

}

#no_booking{
    width: 980px;
    height: 75px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 127px;

}
.hello{
    font-size: 19px;
    height: 20px;
    font-weight: bold;
    color: #666666;  
  
}
.nocontent{
    font-size: 16px;
    height: 24px;
    font-weight: bold;
    color: #666666;  
    margin-bottom: 40px;
     
}
#footer1{
    display: none;
    background-color: #757575;  
    font-size: 16px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    margin-top: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.first_section{
    width: 980px;
    height: 337px;
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    
}

.intro{
    font-size: 19px;
    height: 20px;
    font-weight: bold;
    color: #666666;  
    margin-bottom: 35px;
    margin-top: 46px; 
   

}
.booking1{
    display: flex;
    margin-top: 0;
    margin-bottom: 40px;
    

}
#delete_icon{
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 0;
   
}
#booking_photo{
    object-fit: cover;
    margin-right: 22px;

}
.booking_detail{
    color: #448899;
    font-size: 16px;
    font-weight: bold;
    width: fit-content;
    height: 14px;
}

#booking_span{
    color: #666666;
    font-size: 16px;
    font-weight: bold;
}
.booking_date{
    color: #666666;
    font-size: 16px;
    display: inline;
}
.booking_time{
    color: #666666;
    font-size: 16px;
    display: inline;
   
}
.booking_fee{
    color: #666666;
    font-size: 16px;
    display: inline;
}
.booking_address{
    color: #666666;
    font-size: 16px;
    display: inline;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-left: 0;
    border-right: 0 ;
    max-width: 1200px;
    border-style: solid;
    color: #E8E8E8;
    
    
   
}

.second_section{
    width: 980px;
    height: 307px;
    margin-left: auto;
    margin-right: auto;

}

.contact_info{
    color: #666666;
    font-size: 19px;
    font-weight: bold;
    margin-top: 24px;
}
input{
    width: 190px;
    height: 38px;
    border-radius: 5px;
    border-color: #E8E8E8;
    border-width: 1px;
    border-style: solid;
    padding-left: 10px;
}
.name_label{
    font-size: 16px;
    color: #666666;
    width: 280px;
}
.email_label{
    font-size: 16px;
    color: #666666;
    width: 280px;
}
.phone_label{
    font-size: 16px;
    color: #666666;
    width: 280px;
}
.contact_alert{
    color: #666666;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 45px; 
    
}
.third_section{
    width: 980px;
    height: 268px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}
.payment{
    color: #666666;
    font-size: 19px;
    font-weight: bold;
}
.card_label{
    font-size: 16px;
    color: #666666;
}
.expire_label{
    font-size: 16px;
    color: #666666;
}
.cvv_label{
    font-size: 16px;
    color: #666666;
}
.hr3{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    border-left: 0;
    border-right: 0 ;
    max-width: 1200px;
    color: #E8E8E8;
    border-style: solid;
}
.fourth_section{
    width: 980px;
    height: 137px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 43px;
    
    
}

.totalcost{
    height: 16px;
    width: 157px;
    color: #666666;
    font-weight: bold;
    font-size: 16px;
    color: #666666;
    font-weight: bold;
    margin-left: auto;
    margin-right: 0px;  
    
}

#pay_btn{
    width: 161px;
    height: 34px;
    background-color: #448899;
    border-radius: 5px;
    font-size: 19px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    border-width: 0px;
    
}
#btnp{
    width: 161px;
    height: 34px;
    margin-left: auto;
    margin-right: 0px;  
}
@media (max-width:1024px) {
    body{ 
        width: 100%;
        margin: 0;
        padding: 0;
        
    }
    .frame{
        
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .headline{
        width: 650px;
        
       
    }
    #no_booking{
        width: 600px;
    }
    .first_section{
        width: 600px;
    }
    .second_section{
        width: 600px;
    }
    .third_section{
        width: 600px;
    }
    .fourth_section{
        width: 600px;
    }
    hr{
        max-width: 600px;
    }
    

}
@media(max-width:600px){
    body{ 
        width: 100%;
        margin: 0;
        padding: 0;
        
    }
    .frame{
        
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .headline{
        width: 340px;
        margin-left: 0;
        margin-right: 0;
       
    }
    .item2{
        width: 80px;
    }
    .item3{
        width: 80px;
    }
    #no_booking{
        width: 320px;
    }
    .first_section{
        
        width: 320px;
    }
    .booking1{
        flex-direction: column;
    }
    .the_booking{
        margin-top: 7px;
    }
    .hr1{
        margin-top: 200px;
    }
    .second_section{
        margin-top: 20px;
        width: 320px;
    }
    .contact_info{
        margin-top: 0;
    }
    .third_section{
        width: 320px;
    }
    .fourth_section{
        width: 320px;
    }
    hr{
        max-width:320px;
    }
    
}
