<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8/">
        <title>week1 assignment</title>
        <link type="text/css" rel="stylesheet" href="/Users/renee/Desktop/taipei-day-trip/static/index.css"  />
        <style>
            body{
                margin-left: 0px;
                margin-right: 0px;
                }
        </style>
     </head>
    <body id="body">
        <div class="wrapper">
            <div class="frame">
                <div class="headline">
                    <div class="left">台北一日遊</div>
                    <div class="desktop-menu">
                        <div class="item1">預定行程</div>
                        <div class="item2">登入/註冊</div>
                    </div>
                </div>
            </div>
            <div class="welcome">
                <img id="photo" src="/Users/renee/Desktop/taipei-day-trip/static/welcome (1).png" height="320px">
                    <div class="title">輕鬆享受台北一日悠閒</div>
                    <div class="title1">探索每個角落，體驗城市的深度旅遊行程</div>
                   
                        <div class="search">
                            <input type="text" placeholder="輸入景點名稱查詢" name="keyword" id="input"/>
                            <button type="click" id="mybtn"><img src="/Users/renee/Desktop/taipei-day-trip/static/icon_search.png" width="30" height="30"></button>
                            <div class="subsearch" id="subsearch" >
                                <div class="cates" id="cates" ></div>
                                <div class="cates" id="cates" ></div>
                                <div class="cates" id="cates" ></div>
                                <div class="cates" id="cates" ></div>
                                <div class="cates" id="cates" ></div>
                                <div class="cates" id="cates" ></div>
                                <div class="cates" id="cates" ></div>
                                <div class="cates" id="cates" ></div>
                                <div class="cates" id="cates" ></div>
                            </div>
                        </div>
                    
                </img>
            </div>
        </div>
        <div class="page">
            <div class="main" id="main">
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
            </div>
            <footer class="footer" id="footer">COPYRIGHT © 2022 台北一日遊</footer>
        </div> 
        <script src="/Users/renee/Desktop/taipei-day-trip/static/index.js"defer>
        
        </script>      
    </body>
</html>