<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8/">
        <title>week1 assignment</title>
        <link type="text/css" rel="stylesheet" href="/Users/renee/Desktop/taipei-day-trip/static/index.css"  />
        <style>
            body{
                margin-left: 0px;
                margin-right: 0px;
                }
        </style>
     </head>
    <body id="body">
        <div class="wrapper">
            <div class="frame">
                <div class="headline">
                    <div class="left">台北一日遊</div>
                    <div class="desktop-menu">
                        <div class="item1">預定行程</div>
                        <div class="item2" id="item2">登入/註冊</div>
                        <div class="item3" id="item3">登出系統</div> 
                    </div>
                </div>
            </div>
            <div class="signin_back" id="signin_back">
                <div class="signin" id="signin">
                    <div class="signtext" id="signtext">登入會員帳號
                        <div class="signin_close">
                        <span><a id="closeBtn" href="javascript:void(0)">&#x2715;</a></span>
                        </div>
                    </div>
                    <form class="form1">
                        <input type="text" class="enter_email" id="enter_email" name="enter_email" placeholder="輸入電子信箱"/>
                        <input type="text" class="enter_pwd" id="enter_pwd" name="enter_pwd" placeholder="輸入密碼"/>
                        <button class="signin_btn" id="signin_btn" type="submit">登入帳戶</button>
                        <div class="signin_error" id="signin_error"></div>
                        <a class="signintext1" id="signintext1">還沒有帳戶？點此註冊</a>
                    </form>
                </div>
            </div>
            <div class="signup_back" id="signup_back">
                <div class="signup" id="signup">
                    <div class="signuptext" id="signuptext">註冊會員帳號
                        <div class="signup_close">
                        <span><a id="closeBtn1" href="javascript:void(0)">&#x2715;</a></span>
                        </div>
                    </div>
                    <form class="form" method="POST">
                        <input type="text" class="signup_name" id="signup_name" name="signup_name" placeholder="輸入姓名"/>
                        <input type="text" class="signup_email" id="signup_email" name="signup_email" placeholder="輸入電子郵件"/>
                        <input type="text" class="signup_pwd" id="signup_pwd" name="signup_pwd" placeholder="輸入密碼"/>
                        <button class="signup_btn" id="signup_btn" type="submit">註冊新帳戶</button>
                        <div class="signup_error" id="signup_error"></div>
                        <a class="signuptext1" id="signuptext1">已經有帳戶了？點此登入</a>
                    </form>
                </div>
            </div>
            <div id="background" class="background"></div>
            <div class="welcome">
                <img id="photo" height="320px" src="/Users/renee/Desktop/taipei-day-trip/static/welcome (1).png">
                    <div class="title">輕鬆享受台北一日悠閒</div>
                    <div class="title1">探索每個角落，體驗城市的深度旅遊行程</div>
                        <div class="search">
                            <input type="text" placeholder="輸入景點名稱查詢" name="keyword" id="input"/>
                            <button type="click" id="mybtn"><img src="/Users/renee/Desktop/taipei-day-trip/static/icon_search.png" width="30" height="30"></button>
                            <div class="subsearch" id="subsearch" >
                                <div class="cates" id="cates" ></div>
                                <div class="cates" id="cates" ></div>
                                <div class="cates" id="cates" ></div>
                                <div class="cates" id="cates" ></div>
                                <div class="cates" id="cates" ></div>
                                <div class="cates" id="cates" ></div>
                                <div class="cates" id="cates" ></div>
                                <div class="cates" id="cates" ></div>
                                <div class="cates" id="cates" ></div>
                            </div>
                        </div>   
                </img>
            </div>
        </div>
        <div class="page">
            <div class="main" id="main">
                <a class="a" style="text-decoration: none;">
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
                </a>
                <a class="a" style="text-decoration: none;">
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
                </a>
                <a class="a" style="text-decoration: none;">
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
                </a>
                <a class="a" style="text-decoration: none;">
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
                </a>
                <a class="a" style="text-decoration: none;">
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
                </a>
                <a class="a" style="text-decoration: none;">
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
                </a>
                <a class="a" style="text-decoration: none;">
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
                </a>
                <a class="a" style="text-decoration: none;">
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
                </a>
                <a class="a" style="text-decoration: none;">
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
                </a>
                <a class="a" style="text-decoration: none;">
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
                </a>
                <a class="a" style="text-decoration: none;">
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
                </a>
                <a class="a" style="text-decoration: none;">
                <div class="mainphoto" id="mainphoto">
                    <img id="photo1">
                    <div class="back">
                        <div class="name"></div>
                    </div>
                    <div class="content">
                        <div class="detail"></div>
                        <div class="detail2"></div>
                    </div>
                </div>
                </a>
            </div>
            <footer class="footer" id="footer">COPYRIGHT © 2022 台北一日遊</footer>
        </div> 
        <script src="/Users/renee/Desktop/taipei-day-trip/static/index.js"defer>
        
        </script>      
    </body>
</html>